node_modules
dist
build/*
!build/license.txt
release-notes.md
LICENSES.txt
test-results
private/
stamp-win32-x64/
*.DS_Store

# .claude フォルダは全体を除外するが CLAUDE.md だけ共有する
.claude/*
!.claude/CLAUDE.md

.github
